/* Start Global Rules */
:root {
  --dark-cyan-color: hsl(185, 75%, 39%);
  --very-dark-color: hsl(229, 23%, 23%);
  --dark-grayish-color: hsl(227, 10%, 46%);
  --dark-gray-color: hsl(0, 0%, 59%);
}

body {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 18px;
  background-color: var(--dark-cyan-color);
}

@media (max-width: 375px) {
  body {
    background: url(../imgs/bg-pattern-top.svg) top left -250% no-repeat,
      url(../imgs/bg-pattern-bottom.svg) bottom right -250% no-repeat var(--dark-cyan-color);
    background-size: 300px;
  }
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1440px;
  }
}
/* End Global Rules */

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
}
.card {
  width: 400px;
}

.victor {
  width: 100px;
  position: relative;
  top: -50px;
  border-radius: 50%;
  border: 2px solid white;
}

h1 {
  font-size: 20px;
  color: var(--very-dark-color);
  margin: -12px;
}

h1 span {
  color: var(--dark-gray-color);
  font-weight: normal;
  margin-left: 5px;
  font-size: 20px;
}
span {
  font-size: 15px;
  color: var(--dark-gray-color);
  margin: 20px 0px;
}

.stats {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 25px 0px;
  border-top: var(--dark-gray-color) 1px solid;
  width: 100%;
  text-align: center;
}
h2 {
  color: var(--very-dark-color);
  font-size: 20px;
  margin: 0;
}
p {
  font-size: 12px;
  margin: 0;
  color: var(--dark-gray-color);
}
